.event-page{
min-height:100vh;
padding:40px;
text-align:center;
}

.decor-container{
display:flex;
justify-content:center;
gap:40px;
margin-top:30px;
flex-wrap:wrap;
}

.decor-card{
width:250px;
background:white;
border-radius:10px;
box-shadow:0 4px 10px rgba(0,0,0,0.2);
padding:15px;
}

.decor-card img{
width:100%;
height:180px;
object-fit:cover;
border-radius:8px;
}

.event-page.romantic{
background-image:url("https://images.unsplash.com/photo-1516589178581-6cd7833ae3b2");
background-size:cover;
background-position:center;
background-repeat:no-repeat;
}

.event-page.fun{
background-image:url("https://t4.ftcdn.net/jpg/06/41/49/83/360_F_641498392_E63cAbtvfweSNoUX7ARyy5rLUyEttP3O.jpg");
background-size:cover;
background-position:center;
background-repeat:no-repeat;
}

.event-page.happy{
background-image:url("https://t3.ftcdn.net/jpg/07/72/96/94/360_F_772969466_lBptKHaQhcQOwzvkvJn6PCEiXN37eOv0.jpg");
background-size:cover;
background-position:center;
background-repeat:no-repeat;
}
.event-page{
min-height:100vh;
background-size:cover;
background-position:center;
background-repeat:no-repeat;
text-align:center;
padding:40px;
color:white;
}

/* Birthday Background */
.birthday-bg{
background-image:url("https://images.unsplash.com/photo-1530103862676-de8c9debad1d");
}

/* Wedding Background */
.wedding-bg{
background-image:url("https://images.unsplash.com/photo-1519741497674-611481863552");
}

/* Party Background */
.party-bg{
background-image:url("https://images.unsplash.com/photo-1492684223066-81342ee5ff30");
}

.littlestars-bg{
    background-image:url("https://img.freepik.com/free-psd/maternity-baby-shower-background_23-2150237221.jpg?semt=ais_hybrid&w=740&q=80");
}
.book-btn{
margin-top:10px;
padding:8px 15px;
background:#e6beda;
color:black;
border:none;
border-radius:5px;
cursor:pointer;
}

.book-btn:hover{
background:#d19ac7;
}